---
import Search from '~/assets/search.svg'
---

<div
  id='empty-state'
  class='hidden py-16 text-center'
>
  <Search class='text-muted mx-auto mb-4 h-16 w-16' />
  <p class='text-muted text-lg'>No se encontraron repositorios</p>
</div>
