<div class='shimmer h-64 rounded-xl'></div>
<div class='shimmer h-64 rounded-xl'></div>
<div class='shimmer h-64 rounded-xl'></div>
<div class='shimmer h-64 rounded-xl'></div>
<div class='shimmer h-64 rounded-xl'></div>
<div class='shimmer h-64 rounded-xl'></div>
