---
import Template from '~/assets/template.svg'
---

<span
  class='bg-primary/20 text-primary border-primary/30 mt-2 inline-flex items-center rounded-md border px-2 py-1 text-xs'
>
  <Template />
  Template
</span>
